<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
    <test name="User test">
        <classes>
<!--            <class name="test.PrepareTests"></class>-->
<!--            <class name="test.CompareReport"/>-->
<!--            <class name="test.SaleReports"/>-->
            <class name="test.Accounting.ContractTest"/>
<!--            <class name="test.Sales.OrderTest"/>-->
<!--            <class name="test.Inventory.InventoryTest"/>-->

<!--            <class name="test.Accounting.AccountablePersons"/>-->
        </classes>
    </test>
</suite>